﻿@model SearchJobManagement.Forms.LoginForm
@{
    Layout = "_Layout";
}
<div class="col-md-6 mx-auto my-auto">
    <h4>Se connecter</h4>
    <hr />
    <div class="row">
        <div class="">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" type="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group mt-3 float-end">
                    <input type="submit" value="Se Connecter" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@*<div class="mt-4">
    <a asp-action="Index">Back to List</a>
</div>*@

